<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="busqueda.css">
</head>
<body>
    <div id="Superior">
        <a href="Inicio.html"><button id="logo"></button></a>
        <a href="conf.html"><button id="ubi"></button></a>
        <input type="text" name="Buscar" id="Buscar" placeholder="Buscar" ><a href="Busqueda.html"><button id="lupa"></button></a></input>

        <a href="inicioSesion.html"><button id="maleU"></button></a>

        <button id="camp"></button>

        <a href="Carrito.html"><button id="carrito"></button></a>
        
    </div>

    <div class="filtro">
        <h6 class="filti">Filtro(0)<button id=filt></button></h6>
    </div>
    <div class="contenedor">
        <div class="contenedor-filtro">
            <h3>Dia de entrega</h3>
            <input type="checkbox" id="cbox1" value="first_checkbox" />
            <label for="cbox1">Recibelo hoy</label>
            <br>
            <input type="checkbox" id="cbox2" value="second_checkbox" />
            <label for="cbox2">Recibelo Mañana</label>
            <br>
            <br>
            <h3>Categoria</h3>
            <p>Laptops</p>
            <p>Portatiles Tradicionales</p>
            <p>Computadoras de escritorio</p>
            <p>Monitores de computadora</p>
            <br>
            <br>
            <h3>Opiniones de los clientes</h3>
            <br>
            <img  id="cora" src="hearts.png">
            <br>
            <br>
            <h3>Precio</h3>
            <br>
            <p>Hasta $350</p>
            <p>$350 a $750</p>
            <p>$750 a $1500</p>
            <p>$1500 a $3000</p>
            <p>$3000 a mas</p>
            <br>
            <input type="text" placeholder="$min">
            <input type="text" placeholder="$max">


        </div>
        <div class="contenedor-productos">
            <div class="producto">
                <img id="compu1" src="compu1.png">
                <h2 id = "titupc">Dell 5300</h2>
                <p id = "parr">$5090.00</p>
                <p id = "parr">0% desc.</p>
                <a href="conf.html"><button type="button"><img id="btn1" src="btnimg1.png"></button></a>
                <a href="Confirmacion.html"><button type="button"><img id="btn1" src="btnimg2.png"></button></a>
                <a href="Carrito.html"><button type="button"><img id="btn1" src="btnimg3.png"></button></a>
            </div>

            <div class="producto">
                <img id="compu1" src="compu2.png">
                <h2 id = "titupc">Dell Optiplex 3020</h2>
                <p id = "parr">$3011.69</p>
                <p id = "parr">27% desc.</p>
                <a href="conf.html"><button type="button"><img id="btn1" src="btnimg1.png"></button></a>
                <a href="Confirmacion.html"><button type="button"><img id="btn1" src="btnimg2.png"></button></a>
                <a href="Carrito.html"><button type="button"><img id="btn1" src="btnimg3.png"></button></a>
            </div>

            <div class="producto">
                <img id="compu1" src="compu3.png">
                <h2 id = "titupc">BenQ GW2480 Monitor LED</h2>
                <p id = "parr">$2349.00</p>
                <p id = "parr">19% desc.</p>
                <a href="conf.html"><button type="button"><img id="btn1" src="btnimg1.png"></button></a>
                <a href="Confirmacion.html"><button type="button"><img id="btn1" src="btnimg2.png"></button></a>
                <a href="Carrito.html"><button type="button"><img id="btn1" src="btnimg3.png"></button></a>
            </div>

            <div class="producto">
                <img id="compu1" src="compu4.png">
                <h2 id = "titupc">Lenovo IdeaPad</h2>
                <p id = "parr">$8362.00</p>
                <p id = "parr">0% desc.</p>
                <a href="conf.html"><button type="button"><img id="btn1" src="btnimg1.png"></button></a>
                <a href="Confirmacion.html"><button type="button"><img id="btn1" src="btnimg2.png"></button></a>
                <a href="Carrito.html"><button type="button"><img id="btn1" src="btnimg3.png"></button></a>
            </div>

            <div class="producto">
                <img id="compu1" src="compu5.png">
                <h2 id = "titupc">PELADN WI-7 Mini PC</h2>
                <p id = "parr">$3469.95</p>
                <p id = "parr">0% desc.</p>
                <a href="conf.html"><button type="button"><img id="btn1" src="btnimg1.png"></button></a>
                <a href="Confirmacion.html"><button type="button"><img id="btn1" src="btnimg2.png"></button></a>
                <a href="Carrito.html"><button type="button"><img id="btn1" src="btnimg3.png"></button></a>
            </div>

            <div class="producto">
                <img id="compu1" src="compu6.png">
                <h2 id = "titupc">HP Elite Computadora</h2>
                <p id = "parr">$3811.63</p>
                <p id = "parr">8% desc.</p>
                <a href="conf.html"><button type="button"><img id="btn1" src="btnimg1.png"></button></a>
                <a href="Confirmacion.html"><button type="button"><img id="btn1" src="btnimg2.png"></button></a>
                <a href="Carrito.html"><button type="button"><img id="btn1" src="btnimg3.png"></button></a>
            </div>
        </div>
    </div>
</body>
</html>