{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/carr.css' %}"/>
</head>
<body>
    <div id="Superior">
        <a href="index.html">
        <button id="logo"><img src="{% static 'recursos/ImgLogo.png' %}" alt=""></button>
    </a>
    
    <button id="ubi"></button>
    
    <input type="text" name="Buscar" id="Buscar" placeholder="Buscar" >
        <a href="Busqueda.html">
            <button class="material-symbols-outlined"> search </button>
        </a>
    </input>

    <a href="inicioSesion.html">
        <button id="maleU"><img src="{% static 'recursos/Male_User.png' %}" alt=""></button>
    </a>

    <button id="camp"><img src="{% static 'recursos/campana.png' %}" alt=""></button>

    <a href="templates/Carrito.html">
        <button id="carrito"><img src="{% static 'recursos/carritoCompra.png' %}" alt=""></button>
    </a>
    
</div>
    
    <div class="subtotal">
        <h1>{{nombre}}</h1>
        <h1>{{categoria}}</h1>
        <h1>Subtotal (1 productos): ${{precio}}</h1>
    </div>
    <div class="comprarYa">
        <a href="/inicio/"><button type="button" id="compra">Comprar ya!</button></a>
    </div>
</body>
</html>