{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/carr.css' %}"/>
</head>
<body>
    <div id="Superior">
        <a href="index.html"><button id="logo"></button></a>
        <a href="conf.html"><button id="ubi"></button></a>
        <input type="text" name="Buscar" id="Buscar" placeholder="Buscar" ><a href="Busqueda.html"><button id="lupa" ></button></a></input>

        <a href="inicioSesion.html"><button id="maleU"></button></a>

        <button id="camp"></button>

        <a href="Carrito.html"><button id="carrito"></button></a>
        
    </div>
    {{nombre}}
    {{categoria}}
    {{precio}}
    <div class="subtotal">
        <h1>Subtotal (4 productos): $12,558.64</h1>
    </div>
    <div class="comprarYa">
        <a href="Confirmacion.html"><button type="button" id="compra">Comprar ya!</button></a>
    </div>
</body>
</html>