{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/styleCompraRealizada.css' %}"/>
</head>
<body>
    <div id="Superior">
        <a href="Inicio.html"><button id="logo"></button></a>
        <a href="conf.html"><button id="ubi"></button></a>
        <input type="text" name="Buscar" id="Buscar" placeholder="Buscar" ><a href="Busqueda.html"><button id="lupa" ></button></a></input>

        <a href="inicioSesion.html"><button id="maleU"></button></a>

        <button id="camp"></button>

        <a href="Carrito.html"><button id="carrito"></button></a>
        
    </div>

    <div class="contenedor">
        <div class="imagenPalomita">
            <img id="palomita" src="confirmacion.png">
        </div>
        <div class="factura">
            <p>En unos momentos recibirás un correo de confirmación y una factura de la compra</p>
        </div>
        <div class="boton">
            <a href="Inicio.html"><button>Volver a Inicio</button></a>
        </div>
    </div>
</body>
</html>