<!DOCTYPE html>
<html>

<head>
  <title>Configuración de Usuario</title>
  <link rel="stylesheet" href="{% static 'styles/confi.css' %}"/>
</head>

<body>

  <div id="Superior">
    <button id="logo"></button>
    <button id="ubi"></button>
    <input type="text" name="Buscar" id="Buscar" placeholder="Buscar"><button id="lupa"></button></input>

    <button id="maleU"></button>

    <button id="camp"></button>

    <button id="carrito"></button>
  </div>

  <h1>Configuración de Usuario</h1>
  <div class="contenedor">
    <main>
      <div class="container-add-com">
        <div class="container-quantity">
          <i class="fa-solid " id="increment"></i>
          <i class="fa-solid " id="decrement"></i>
          <i class="input-quantity"></i>
          <iq class="fa-solid " id="increment"></iq>
          <iq class="fa-solid " id="decrement"></iq>
          <iq class="input-quantity"></iq>
        </div>
      </div>

      <div class="container-description">
        <div class="title-description">
          <h3>Nombre de Usuario</h3>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="text-description hidden">
          <p>
            Martin Eduardo López García
          </p>
        </div>
      </div>

      <div class="container-additional-information">
        <div class="title-additional-information">
          <h3>Correo Electrónico</h3>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="text-additional-information hidden">
          <p>
            martin.eduardolpoez@gmail.com
          </p>
        </div>
      </div>

      <div class="container-reviews">
        <div class="title-reviews">
          <h3>Contraseña</h3>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="text-reviews hidden">
          <p>m3Gust4ELPedr0</p>
        </div>
      </div>

      <div class="container-reviews2">
        <div class="title-reviews2">
          <h3>Num. Telefónico</h3>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="text-reviews2 hidden">
          <p>no tengo por pendejo</p>
        </div>
      </div>

      <div class="container-reviews3">
        <div class="title-reviews3">
          <h3>Dirección de envio</h3>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="text-reviews3 hidden">
          <p>Hernan Cortez #6549 e/Altamirano y Allende</p>
        </div>
      </div>

    </main>
    <div >

      <button class="btn-add-to-cart">
        <i class="fa-solid "></i>
        
          <a href="#IrVentanaFlotante">
            Actualizar Datos
           </a>
          
          
          
        </button>
        <div id="IrVentanaFlotante" class="modal">
          <div class="ventana">
            <a href="#" style='text-decoration:none;'>
            X
            </a>
            <h2>Se han actualizado los datos</h2>
            <p>
              
            </p>
          </div>  
        </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
  <script src="info_Producto.js"></script>
</body>

</html>