<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleConfir.css">
</head>
<body>
    <div id="Superior">
        <a href="Inicio.html"><button id="logo"></button></a>
        <a href="conf.html"><button id="ubi"></button></a>
        <input type="text" name="Buscar" id="Buscar" placeholder="Buscar" ><a href="Busqueda.html"><button id="lupa" ></button></a></input>
        
        <a href="inicioSesion.html"><button id="maleU"></button></a>
        
        <button id="camp"></button>
        
        <a href="Carrito.html"><button id="carrito"></button></a>    
    </div>
    <div class="contenedor">
        <div class="contenedorIzq">
            <div class="direccion">
                <div class="tituloDireccion">
                    <h2>Direccion de entrega</h2>
                </div>
                <div class="nomTel">
                    <p>Martin Eduardo Lopez Garcia</p>
                    <p>+5216131257728</p>
                </div>
                <div class="addres">
                    <p>Calle Mar Oriental, Conjunto Habitacional Miramar, 23085 La Paz, BCS, Mexico
                        La Paz, Baja California Sur, Mexico, 23085</p>
                </div>
                <div class="modificarDir">
                    <p>Modificar</p>
                </div>
            </div>
            <div class="metodoPago">
                <div class="tituloPago">
                    <h2>Metodo de Pago</h2>
                </div>
                <div class="metodo">
                    <img id="visa" src="Visa.png">
                    <p>416916******1417</p>
                </div>
                <div class="modificarPago">
                    <p>Modificar</p>
                </div>
            </div>
            <div class="producto1">
                <div class="imagenCreatina">
                    <img id="creatina" src="creatina.jpg">
                </div>
                <div class="pCreatina">
                    <div class="titulo1">
                        <h3>Birdman Creatina Monohidratada de Alta <br id="br"> Pureza En Polvo Sin Sabor, Preworkout, <br id="br"> Alto Rendimiento | 90 Servicios | 450g.</h3>
                    </div>
                    <div class="abajo1">
                        <p>Cantidad</p>
                        <select name="cantidad" id="cant">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                </div>
                <div class="precio1">
                    <div class="descuento1">
                        <p id="d1">-50%$890.65</p>
                    </div>
                    <div class="precioCreatina">
                        <p id="p1">$445.32</p>
                    </div>
                </div> 
            </div>
            <div class="producto2">
                <div class="imagenProteina">
                    <img id="proteina" src="proteina.jpg">
                </div>
                <div class="pProteina">
                    <div class="titulo2">
                        <h3>Optimum Nutrition Suplemento alimenticio <br id="br"> Gold Standard 100% Whey Sabor Doble <br id="br"> Chocolate 2 LB</h3>
                    </div>
                    <div class="abajo2">

                        <p>Cantidad</p>
                        <select name="cantidad" id="cant">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                </div> 
                <div class="precio2">
                    <div class="precioProteina">
                        <p id="p2">$1599.00</p>
                    </div>
                </div> 
            </div>
            <div class="producto3">
                <div class="imagenXbox">
                    <img id="xbox" src="xbox.jpg">
                </div>
                <div class="pXbox">
                    <div class="titulo3">
                        <h3>Microsoft Xbox Series X 1TB Standard <br id="br">  color negro</h3>
                    </div>
                    <div class="abajo3">
                        <p>Cantidad</p>
                        <select name="cantidad" id="cant">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                </div> 
                <div class="precio3">
                    <div class="descuento3">
                        <p id="d3">-25%$12,932</p>
                    </div>
                    <div class="precioXbox">
                        <p id="p3">$9,669</p>
                    </div>
                </div> 
            </div>
        </div>
        <div class="contenedorDer">
            <div class="resumen">
                <div class="tituloResumen">
                    <h2>Resumen</h2>
                </div>
                <div class="textoRes">
                    <br>
                    <br>
                    <br>
                    <p>Costo total de los articulos: $12,558.64</p>
                    <br>
                    <br>
                    <p>Codigo promocional: Escribe el codigo aqui</p>
                    <br>
                    <br>
                    <p>Total del envio: $99:00</p>
                    <br>
                    <br>
                    <p>Total: $12,657.64</p>
                    <br>
                </div>
                <a href="compraRealizada.html"><button id="compra" type="button">Pagar Ahora</button></a>
                <div class="terminos">
                    <p>Al hacer click en  “Pagar ahora’, confirmo haber leído y aceptado los términos y condiciones</p>
                </div>
            </div>
        </div>  
    </div>
</body>
</html>