<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="info_Producto.css">
    <link rel="stylesheet" href="estilo.css">
    <script src="app2.js" async></script>
    <title> </title>
</head>
<body>
    <div id="Superior">
        <button id="logo"></button>
        <button id="ubi"></button>

        <input type="text" name="Buscar" id="Buscar" placeholder="Buscar" >
            <a href="Busqueda.html">
                <button id="lupa"></button>
            </a>
        </input>

        <a href="inicioSesion.html">
            <button id="maleU"></button>
        </a>

        <button id="camp"></button>

        <a href="Carrito.html">
            <button id="carrito"></button>
        </a>
    </div>
    <header>
        <h1>Productos</h1>
    </header>
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">COGNAC REMY MARTIN X.O. 700ML</span>
                <img src="https://bodegasalianza.vteximg.com.br/arquivos/ids/180341-800-800/0305-1.jpg?v=637560093458000000" alt="" class="img-item">
                <span class="precio-item">$15.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">VODKA ABSOLUT AZUL 750 ML</span>
                <img src="https://bodegasalianza.vteximg.com.br/arquivos/ids/198195-398-512/38640-1.png?v=638291195756600000" alt="" class="img-item">
                <span class="precio-item">$25.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">WHISKEY JAMESON IRISH 750 ML</span>
                <img src="https://bodegasalianza.vteximg.com.br/arquivos/ids/198199-800-800/38644-1.png?v=638291201270730000" alt="" class="img-item">
                <span class="precio-item">$35.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">xbox</span>
                <img src="xbox.jpg" alt="" class="img-item">
                <span class="precio-item">$18.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">creatina</span>
                <img src="creatina.jpg" alt="" class="img-item">
                <span class="precio-item">$32.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">PC 1</span>
                <img src="compu1.png" alt="" class="img-item">
                <span class="precio-item">$18.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">PC 2</span>
                <img src="compu2.png" alt="" class="img-item">
                <span class="precio-item">$54.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">PC 3</span>
                <img src="compu3.png" alt="" class="img-item">
                <span class="precio-item">$32.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">PC 4  <div id="Superior">
                    <button id="logo"></button>
                    <button id="ubi"></button>
            
                    <input type="text" name="Buscar" id="Buscar" placeholder="Buscar" >
                        <a href="Busqueda.html">
                            <button id="lupa"></button>
                        </a>
                    </input>
            
                    <a href="inicioSesion.html">
                        <button id="maleU"></button>
                    </a>
            
                    <button id="camp"></button>
            
                    <a href="Carrito.html">
                        <button id="carrito"></button>
                    </a>
                </div></span>
                <img src="compu4.png" alt="" class="img-item">
                <span class="precio-item">$42.800</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
                
                <div class="carrito-item">
                    <img src="img/boxengasse.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Box Engasse</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="1" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$15.000,00</span>
                    </div>
                   <span class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </span>
                </div>
                <div class="carrito-item">
                    <img src="img/skinglam.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Skin Glam</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="3" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$18.000,00</span>
                    </div>
                   <button class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </button>
                </div>
                 
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $120.000,00
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>
</body>
</html>