{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOLENS VOLENS</title>
    <link rel="stylesheet" href="{% static 'styles/inicio.css' %}"/>
</head>
<body>
    <div id="Superior">
        <button id="logo"></button>
        <button id="ubi"></button>

        <input type="text" name="Buscar" id="Buscar" placeholder="Buscar" >
            <a href="Busqueda.html">
                <button id="lupa"></button>
            </a>
        </input>

        <a href="inicioSesion.html">
            <button id="maleU"></button>
        </a>

        <button id="camp"></button>

        <a href="Carrito.html">
            <button id="carrito"></button>
        </a>
    </div>

    <div id="arriba">
        <img id="banner1" src="banner.png">
    </div>

    <div id="centro">
        <img id="banner2" src="banner centro.png">
    </div>

    <div id="abajo">
        <h2 id="Productos">Productos comprados anteriormente</h2>

        <div id="pro">
            <img id = "pro1" src="pro1.png">
            <br>
            <img id = "pro2"src="pro2.png">
            <br>
            <img id = "pro3" src="pro3.png">
            <br>
            <button id = "Flechasig"><img src="flechasig.png"></button>
            
        </div>
    </div>

    {% for producto in products %}
    <form action="/inicio/" method="POST">
        {% csrf_token %}
    <input type="text" value="{{producto.id}}" name="id" hidden>
    <input type="text" value="{{producto.nombre}}" name="Nombre" hidden>
    <input type="text" value="{{producto.categoria}}" name="Categoria" hidden>
    <input type="text" value="{{producto.precio}}" name="Precio" hidden>
    <h1>{{producto.nombre}}</h1>
    <h1>{{producto.categoria}}</h1>
    <h1>{{producto.precio}}</h1>
    <button>Agregar Carrito</button>

    </form>
    {% endfor %}

</body>
</html>