<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOLENS VOLENS</title>
    <link rel="stylesheet" href="inicio.css"/>
</head>
<body>
    <div id="Superior">
        <button id="logo"></button>
        <button id="ubi"></button>

        <input type="text" name="Buscar" id="Buscar" placeholder="Buscar" >
            <a href="Busqueda.html">
                <button id="lupa"></button>
            </a>
        </input>

        <a href="inicioSesion.html">
            <button id="maleU"></button>
        </a>

        <button id="camp"></button>

        <a href="Carrito.html">
            <button id="carrito"></button>
        </a>
    </div>

    <div id="arriba">
        <img id="banner1" src="banner.png">
    </div>

    <div id="centro">
        <img id="banner2" src="banner centro.png">
    </div>

    <div id="abajo">
        <h2 id="Productos">Productos comprados anteriormente</h2>

        <div id="pro">
            <img id = "pro1" src="pro1.png">
            <br>
            <img id = "pro2"src="pro2.png">
            <br>
            <img id = "pro3" src="pro3.png">
            <br>
            <button id = "Flechasig"><img src="flechasig.png"></button>
            
        </div>
    </div>
</body>
</html>