*{
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width:1024px){
    div#Superior{
        width: 100%;
        height: 13vh;
        background-color: rgb(57, 184, 255);
        display: flex;
        align-items: center;
    }
    
    button#logo{
        width: 28vh;
        height: 4.5vh;
        margin-left: 10vh;
        background-image: url(ImgLogo.png);
        background-size: 100%;
        border: none;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    
    button#ubi{
        width: 5vh;
        height: 5vh;
        margin-left: 10vh;
        background-image: url(Location.png);
        background-position: center;
        background-size: cover;
        border: none;
        background-repeat: no-repeat;
        background-color: rgb(57, 184, 255);
        cursor: pointer;
    }
    
    input#Buscar{
        width: 70vh;
        height: 4vh;
        margin-left: 7vh;
        border: 3px solid black;
        padding-left: 10px;
        font-size: 19px;
    }
    
    button#lupa{
        width: 4.6vh;
        height: 4.6vh;
        border: 4px solid black;
        background-image: url(Search.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: rgb(142, 189, 247);
        background-position: center;
        cursor: pointer;
    }
    
    button#maleU{
        width: 5vh;
        height: 5vh;
        margin-left: 10vh;
        background-image: url(Male_User.png);
        background-size: cover;
        border: none;
        background-repeat: no-repeat;
        background-color: rgb(57, 184, 255);
        background-position: center;
        cursor: pointer;
    }
    
    button#camp{
        width: 5vh;
        height: 5vh;
        margin-left: 10vh;
        background-image: url(campana.png);
        background-size: cover;
        border: none;
        background-repeat: no-repeat;
        background-color: rgb(57, 184, 255);
        background-position: center;
        cursor: pointer;
    }
    
    button#carrito{
        width: 6vh;
        height: 6vh;
        margin-left: 10vh;
        background-image: url(carritoCompra.png);
        background-size: cover;
        border: none;
        background-repeat: no-repeat;
        background-color: rgb(57, 184, 255);
        background-position: center;
        cursor: pointer;
    }
    
    div#Formulario{
        width: 65vh;
        height: 100vh;
        border: 3px solid black;
        margin: auto;
        margin-top: 8vh;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
    }
    
    button#regreso{
        display: flex;
        margin-left: 20px;
        margin-top: 2vh;
        width: 60px;
        height: 30px;
        background-color:transparent;
        background-image: url(arrow.png);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        border: none;
        cursor: pointer;
    }
    
    h1#titulo{
        text-align: center;
        font-size: 40px;
        margin-top: 2vh;
    }
    
    h3#nombre{
        margin-top: 2vh;
        margin-left: 8vh;
        font-size: 22px;
    }
    
    input#nombre{
        margin-top: 1vh;
        margin-left: 8vh;
        width: 45vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#apellido{
        margin-top: 2vh;
        margin-left: 8vh;
        font-size: 22px;
    }
    
    input#apellido{
        margin-top: 1vh;
        margin-left: 8vh;
        width: 45vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#correo{
        margin-top: 2vh;
        margin-left: 8vh;
        font-size: 22px;
    }
    
    input#correo{
        margin-top: 1vh;
        margin-left: 8vh;
        width: 45vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#contra{
        margin-top: 2vh;
        margin-left: 8vh;
        font-size: 22px;
    }
    
    input#contra{
        margin-top: 1vh;
        margin-left: 8vh;
        width: 45vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#contra2{
        margin-top: 2vh;
        margin-left: 8vh;
        font-size: 22px;
    }
    
    input#contra2{
        margin-top: 1vh;
        margin-left: 8vh;
        width: 45vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#num{
        margin-top: 2vh;
        margin-left: 8vh;
        font-size: 22px;
    }
    
    input#num{
        margin-top: 1vh;
        margin-left: 8vh;
        width: 45vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#direccion{
        margin-top: 2vh;
        margin-left: 8vh;
        font-size: 22px;
    }
    
    input#direccion{
        margin-top: 1vh;
        margin-left: 8vh;
        width: 45vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    button#guardar{
        margin-top: 5vh;
        margin-left: 8vh;
        width: 20vh;
        height: 5vh;
        border-radius: 7px;
        border: none;
        background-color: #90C7FA;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
    
    button#cancelar{
        margin-top: 5vh;
        margin-left: 5.4vh;
        width: 20vh;
        height: 5vh;
        border-radius: 7px;
        border: none;
        background-color: #FF0000;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
    
    h5#regis{
        text-align: right;
        margin-top: 2vh;
        margin-right: 6vh;
        font-weight: 500;
    }
    
    a#linkRegis{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    a#linkRegis:active{
        color: blue;
    }
    
    a#linkRegis:hover{
        text-decoration:underline;
        color: blue;
    }
}

@media screen and (max-width:767px){
    div#Superior{
        width: 100%;
        height: 13vh;
        display: flex;
        align-items: center;
    }
    
    button#logo{
        width: 90%;
        height: 100%;
        margin: auto;
        background-image: url(ImgLogo.png);
        background-size: 100%;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        background-color: white;
    }
    
    button#ubi{
        display: none;
    }
    
    input#Buscar{
        display: none;
    }
    
    button#lupa{
        display: none;
    }
    
    button#maleU{
        display: none;
    }
    
    button#camp{
        display: none;
    }
    
    button#carrito{
        display: none;
    }
    
    div#Formulario{
        width: 80%;
        height: 85vh;
        border: 3px solid black;
        margin: auto;
        margin-top: 3vh;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
    }
    
    button#regreso{
        display: flex;
        margin-left: 20px;
        margin-top: 2vh;
        width: 60px;
        height: 30px;
        background-color:transparent;
        background-image: url(arrow.png);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        border: none;
        cursor: pointer;
    }
    
    h1#titulo{
        text-align: center;
        font-size: 40px;
        margin-top: 2vh;
    }
    
    h3#nombre{
        margin-top: 2vh;
        margin-left: 7vh;
        font-size: 22px;
    }
    
    input#nombre{
        margin-top: 1vh;
        margin-left: 7vh;
        width: 28vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#apellido{
        margin-top: 2vh;
        margin-left: 7vh;
        font-size: 22px;
    }
    
    input#apellido{
        margin-top: 1vh;
        margin-left: 7vh;
        width: 28vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#correo{
        margin-top: 2vh;
        margin-left: 7vh;
        font-size: 22px;
    }
    
    input#correo{
        margin-top: 1vh;
        margin-left: 7vh;
        width: 28vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#contra{
        margin-top: 2vh;
        margin-left: 7vh;
        font-size: 22px;
    }
    
    input#contra{
        margin-top: 1vh;
        margin-left: 7vh;
        width: 28vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#contra2{
        margin-top: 2vh;
        margin-left: 7vh;
        font-size: 22px;
    }
    
    input#contra2{
        margin-top: 1vh;
        margin-left: 7vh;
        width: 28vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#num{
        margin-top: 2vh;
        margin-left: 7vh;
        font-size: 22px;
    }
    
    input#num{
        margin-top: 1vh;
        margin-left: 7vh;
        width: 28vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    h3#direccion{
        margin-top: 2vh;
        margin-left: 7vh;
        font-size: 22px;
    }
    
    input#direccion{
        margin-top: 1vh;
        margin-left: 7vh;
        width: 28vh;
        height: 3vh;
        font-size: 15px;
        padding-left: 0.5vh;
        border-radius: 7px;
    }
    
    button#guardar{
        margin-top: 3vh;
        margin-left: 4vh;
        width: 15vh;
        height: 5vh;
        border-radius: 7px;
        border: none;
        background-color: #90C7FA;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
    
    button#cancelar{
        margin-top: 5vh;
        margin-left: 4.5vh;
        width: 15vh;
        height: 5vh;
        border-radius: 7px;
        border: none;
        background-color: #FF0000;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
    
    h5#regis{
        text-align: right;
        margin-top: 2vh;
        margin-right: 6vh;
        font-weight: 500;
    }
    
    a#linkRegis{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    a#linkRegis:active{
        color: blue;
    }
    
    a#linkRegis:hover{
        text-decoration:underline;
        color: blue;
    }
}

